<section id="contact-us" class="contact-us section">
  <div class="container mx-auto">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Get in touch</h4>
              <h3>Write us a message</h3>
            </div>
            <form class="form">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Name<span>*</span></label>
                    <input name="name" type="text" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Subjects<span>*</span></label>
                    <input name="subject" type="text" placeholder="Subject">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label for="email">Your Email<span>*</span></label>
                    <input type="email" #email ng-control="email" required id="email" placeholder="example@gmail.com"  name="email">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Phone<span>*</span></label>
                    <input name="company_name" type="text" placeholder="Ex - +91 9999900000">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group message">
                    <label>your message<span>*</span></label>
                    <textarea name="message" placeholder="Your message goes here"></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn" >Send Message</button><!--(click)="sendEmail(email.value)"-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+91 9041176818</li>
                <li>+522 672-452-1120</li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li><a href="ezeeshop@gmail.com">ezeeshop@gmail.com</a></li>
                <li><a href="ezeeshop@hotmail.com">ezeeshop@hotmail.com</a></li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>KA-62/1, , 45 Grand Central Terminal, New Delhi.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
