<!--<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list text-center">
      <a class="list-group-item list-group-item-action active" href="#">
        Category
      </a>
      <li *ngFor="let tempProductCategory of productCategories">
        <a class="list-group-item list-group-item-action"
           routerLink="/category/{{ tempProductCategory.productCategoryId }}"
           routerLinkActive="active-link">
          {{ tempProductCategory.productCategoryName }}
        </a>
      </li>
    </ul>
  </nav>
</div>-->

<!-- Section: Sidebar -->
<section>

  <!-- Section: Filters -->
  <section class="filters">
    <h5 class="font-weight-bold mb-3">Filters</h5>
    <hr>
    <!-- Section: Condition -->
    <section class="mb-4">
      <div class="form-check pl-0 mb-3">
      <a style="color: black !important;" routerLink="/products"
         routerLinkActive="active-link">All</a>
      </div>
      <div class="form-check pl-0 mb-3" *ngFor="let tempProductCategory of productCategories">
          <a style="color: black !important;" routerLink="/products/category/{{tempProductCategory.id}}"
             routerLinkActive="active-link">
            {{ tempProductCategory.productCategoryName }}
          </a>
          <!--<input type="radio" class="form-check-input filled-in"/>{{tempProductCategory.productCategoryName}}-->
          <!--<label class="form-check-label small text-uppercase card-link-secondary" for="new">{{tempProductCategory.productCategoryName}}</label>-->
      </div>
    </section>
    <!-- Section: Condition -->
  </section>
  <!-- Section: Filters -->

</section>
<!-- Section: Sidebar -->

