<main>

  <!-- slider Area Start-->
  <div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Product Category</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider Area End-->

  <!-- Latest Products Start -->
  <section class="latest-product-area latest-padding">
    <div class="container">
      <div class="row product-btn d-flex justify-content-between">
        <div class="properties__button">
          <!--Nav Button  -->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All</a>
              <a class="nav-item nav-link" id="nav-electronics-tab" data-toggle="tab" href="#nav-electronics" role="tab" aria-controls="nav-electronics" aria-selected="false">Electronics</a>
              <a class="nav-item nav-link" id="nav-clothings-tab" data-toggle="tab" href="#nav-clothings" role="tab" aria-controls="nav-clothings" aria-selected="false">Clothings</a>
              <a class="nav-item nav-link" id="nav-books-tab" data-toggle="tab" href="#nav-books" role="tab" aria-controls="nav-books" aria-selected="false">Books</a>
            </div>
          </nav>
          <!--End Nav Button  -->
        </div>
      </div>

      <!-- Nav Card -->
      <div class="tab-content" id="nav-tabContent">
        <!-- card one -->
        <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book1.jpg" alt="">
                  <div class="new-product">
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a routerLink="/product-details" >Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec1.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec4.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book2.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery3.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery4.jpg" alt="">
                  <div class="new-product">
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card two -->
        <div class="tab-pane fade" id="nav-electronics" role="tabpanel" aria-labelledby="nav-electronics-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec1.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec2.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec3.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec4.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec5.jpg" alt="">
                  <div class="new-product">
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/elec6.jpg" alt="">
                  <div class="new-product">
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Card three -->
        <div class="tab-pane fade" id="nav-clothings" role="tabpanel" aria-labelledby="nav-clothings-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery1.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery2.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery3.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery4.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/gallery/gallery5.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/arrivel/arrivel_4.png" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- card foure -->
        <div class="tab-pane fade" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book1.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book2.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book3.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book4.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book5.jpg" alt="">
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="single-product mb-60">
                <div class="product-img">
                  <img src="assets/img/book6.jpg" alt="">
                  <div class="new-product">
                    <span>New</span>
                  </div>
                </div>
                <div class="product-caption">
                  <div class="product-ratting">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star low-star"></i>
                    <i class="far fa-star low-star"></i>
                  </div>
                  <h4><a href="#">Green Dress with details</a></h4>
                  <div class="price">
                    <ul>
                      <li>$40.00</li>
                      <li class="discount">$60.00</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Nav Card -->
    </div>
  </section>
  <!-- Latest Products End -->

  <!-- Latest Offers Start -->
  <div class="latest-wrapper lf-padding">
    <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/collection/latest-offer.png">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
            <div class="latest-caption">
              <h2>Get Our<br>Latest Offers News</h2>
              <p>Subscribe news latter</p>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-6 ">
            <div class="latest-subscribe">
              <form action="#">
                <input type="email" placeholder="Your email here">
                <button>Shop Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- man Shape -->
      <div class="man-shape">
        <img src="assets/img/collection/latest-man.png" alt="">
      </div>
    </div>
  </div>
  <!-- Latest Offers End -->
  <!-- Shop Method Start-->
  <div class="shop-method-area section-padding30">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-package"></i>
            <h6>Free Shipping Method</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-unlock"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-reload"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Method End-->
</main>
