<app-header></app-header>

<div class="px-4 px-lg-0">
  <!-- For demo purpose -->
  <div class="container text-white py-5 text-center">
    <h1 style="font-size: 40px; cursor: pointer" class="display-4" data-bs-hover-animate="pulse"><strong
      style="font-family: Arial; color: black">Shopping cart </strong><a routerLink="/cart/{{username}}" data-bs-hover-animate="pulse"><i
      class="fa fa-shopping-cart fa-1x" style="color:black"></i></a></h1>

    <p style="font-size: 30px; color: black" class="lead mb-0">Please feel free to update your cart before placing the
      order.</p>
  </div>
  <!-- End -->

  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 rounded shadow-sm mb-5" style="background-color: #E8E8E8; border-radius: 32px;">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th scope="col" class="border-0 bg-light">
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase"><h5 style="font-family: Impact">Product</h5></div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase" style="position:relative; right: -50px;"><h5
                    style="font-family: Impact">Price/Unit</h5></div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="py-2 text-uppercase"><h5 style="font-family: Impact">Add/Remove</h5></div>
                </th>
                <th scope="col" class="border-0 bg-light">
                  <div class="p-2 px-3 text-uppercase"><h5 style="font-family: Impact">Amount</h5></div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tempProduct of objCart.productList">
                <!---->
                <!--<div class="p-2">-->
                <td scope="row">
                  <img
                    src="{{tempProduct.productImageUrl}}"
                    alt="" width="70" class="img-fluid rounded shadow-sm">
                </td>
                <td>
                  <div class="ml-3 align-middle">
                    <h5 style="font-size: 20px; max-width: 200px;" class="my-0 d-inline-block text-truncate">
                      <a href="#" class="text-dark">{{ tempProduct.productName }}</a>
                    </h5>
                    <!--<span class="text-muted font-weight-normal font-italic">Category: Electronics</span>-->
                  </div>
                </td>

                <td class="align-middle">
                  <div style="position:relative; right: -50px;">
                    <h5>{{ tempProduct.productPrice | currency: 'INR' }}</h5>
                  </div>
                </td>
                <td><!--class="align-middle"-->
                  <div class="qty mt-4">
                    <span class="minus bg-dark" (click)="onDecrement(tempProduct)">-</span>
                    <input type="number" class="count bg-transparent" name="qty" [(ngModel)]="tempProduct.quantity">
                    <span class="plus bg-dark" (click)="onIncrement(tempProduct)">+</span>
                  </div>
                </td>
                <td class="align-middle">
                  <h5>{{ tempProduct.productPrice * tempProduct.quantity | currency: 'INR' }}</h5></td>
                <!--</div>-->
              </tr>
              </tbody>
            </table>
          </div>

          <!-- End -->

          <div class="text-center">
            <div class="row py-5 p-4 bg-white rounded shadow-sm">
              <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="font-size: 20px;">
                  Order summary
                </div>
                <div class="p-4">
                  <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have
                    entered.</p>
                  <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted"
                                                                                          style="font-size: 15px;">Order
                      Subtotal </strong><strong
                      style="font-size: 15px;">{{ objCart.totalPrice | currency: 'INR' }}</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted"
                                                                                          style="font-size: 15px;">Shipping
                      and handling</strong><strong style="font-size: 15px;">Free</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted"
                                                                                          style="font-size: 15px;">Tax</strong><strong
                      style="font-size: 15px;">Rs. 0.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted"
                                                                                          style="font-size: 15px;">Total</strong>
                      <h5 class="font-weight-bold"
                          style="font-size: 15px;">{{ objCart.totalPrice | currency: 'INR' }}</h5>
                    </li>
                  </ul>
                  <a routerLink="/checkout/{{username}}" class="btn btn-dark rounded-pill py-2 btn-block">Proceed to checkout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
