<!--
<hr style="opacity: 0.69;">
<div class="footer-basic">
  <footer>
    <div id="socialIcons" class="social" style="padding: 0px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/home-page">Home</a></li>
      <li class="list-inline-item"><a routerLink="/products">New Products</a></li>
      <li class="list-inline-item"><a routerLink="/about-us">About</a></li>
      <li class="list-inline-item"><a routerLink="/about-us">Contact Us</a></li>
      <li class="list-inline-item"><a href="/home-page">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Ecommerce © 2020</p>
  </footer>
</div>
-->

<footer>
  <div class="row">
    <div class="col-sm-6 col-md-4 footer-navigation">
      <h3><a routerLink="/home-page">Ezee<span>Shop</span></a></h3>
      <p class="links"><a routerLink="/home-page">Home</a><strong> · </strong>
        <a routerLink="/about-us">About</a><strong> · </strong>
        <a routerLink="/contact-us" style="cursor: pointer;">Contact</a></p>
      <p class="company-name">Ezeeshop © 2015 </p>
    </div>
    <div class="col-sm-6 col-md-4 footer-contacts">
      <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
        <p><span class="new-line-span">Lovely Professional University</span> Phagwara, Punjab</p>
      </div>
      <div><i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left"> +917896541230</p>
      </div>
      <div><i class="fa fa-envelope footer-contacts-icon"></i>
        <p>support@ezeeshop.com</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 footer-about">
      <h4>About the company</h4>
      <p> We provide on demand e-commerce service that includes clothings, electronics & books.
            Happy LockDown! &#128512;</p>
      <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
        class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
        class="fa fa-github"></i></a></div>
    </div>
  </div>
</footer>
