<hr style="opacity: 0.69;">
<div class="footer-basic">
  <footer>
    <div id="socialIcons" class="social" style="padding: 0px;"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/home-page">Home</a></li>
      <li class="list-inline-item"><a routerLink="/products">New Products</a></li>
      <li class="list-inline-item"><a routerLink="/about-us">About</a></li>
      <li class="list-inline-item"><a routerLink="/about-us">Contact Us</a></li>
      <li class="list-inline-item"><a href="/home-page">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Ecommerce © 2020</p>
  </footer>
</div>
