<nav class="navbar navbar-light navbar-expand-md sticky-top" id="firstNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home-page" style="font-size: 38px;">
      <img src="assets/img/EzeeShop.png" style="width: 100px;">
    </a>
    <button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse" style="background-color: white"><span
      class="sr-only" id="toggler" style="background-color: #222222;">Toggle navigation</span><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1" style="width: 623px;">
      <ul style="margin-left: 300px; margin-top: 5px;">
        <form class="form-inline" id="serachBar">
          <input  #myInput class="form-control" id="searchInput"
                  placeholder="  Search Products"
                  style="opacity: 0.87;" type="search" (keyup.enter)="findProduct(myInput.value)">
          <a (click)="findProduct(myInput.value)">
            <i class="fa fa-search" data-bs-hover-animate="pulse"></i>
          </a>
        </form>
      </ul>
      <ul class="nav navbar-nav ml-auto"
          style="margin-left: 266px;font-size: 18px;">
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    routerLink="/profile/{{username}}">My Account</a></li>
        <!--<li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    routerLink="/my-orders/:username">Wish List</a></li>-->
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    routerLink="/my-orders/{{username}}">My Orders</a></li>
        <!--<li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    routerLink="/checkout">Checkout</a></li>-->
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md"
     style="padding-bottom: 8px; background-color: #292c2f;">
  <div class="container-fluid"><a class="navbar-brand" href="/home-page"
                                  style="font-size: 38px; color: white;"><strong>EzeeShop</strong></a>
    <button class="navbar-toggler" data-target="#navcol-2" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span
      class="navbar-toggler-icon"></span></button>
    <div
      class="collapse navbar-collapse" id="navcol-2" style="width: 623px;">
      <ul class="nav navbar-nav mx-auto" style="margin-left: 266px;font-size: 22px;color: #1f2021;">
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    style="color: white;" href="/home-page">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    style="color: white;" routerLink="/products">All Products</a></li>
        <li class="nav-item" role="presentation"></li>
        <!--<li class="nav-item dropdown"><a aria-expanded="false" class="dropdown-toggle nav-link"
                                         data-bs-hover-animate="pulse" data-toggle="dropdown" style="color: white;">Clothing</a>
          <div class="dropdown-menu" role="menu"><a class="dropdown-item" routerLink="/search-products"
                                                    role="presentation">Men's Section</a><a class="dropdown-item"
                                                                                            routerLink="/search-products"
                                                                                            role="presentation">Women's
            Section</a></div>
        </li>-->
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    style="color: white" routerLink="/about-us">About Us</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    style="color: white" routerLink="/contact-us">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item" role="presentation"><a class="nav-link active" data-bs-hover-animate="pulse"
                                                    routerLink="/cart/{{username}}" id="cart">
          <i class="fa fa-shopping-cart fa-2x" style=" color: white;"></i>
          <span class="badge badge-pill badge-primary float-right" id="cartBadge" *ngIf="isUserLoggedIn; else loggedInCheck"
                style="margin-top: 0;height: 20px;padding: 4px;margin-left: -6px;opacity: 0.84;">
            0
          </span>
          <ng-template #loggedInCheck>0</ng-template>
        </a>
        </li>
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation"></li>
        <li class="nav-item" role="presentation" *ngIf="!isUserLoggedIn">
          <a class="nav-link" routerLink="/login">
            <button type="button" class="btn btn-primary" data-bs-hover-animate="pulse" mat-button
                    style="background-color: #eb3b60; color: white; border-radius: 8px; font-size: 16px;">
              Sign In
            </button>
          </a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/logout">
            <button class="btn text-center" data-bs-hover-animate="pulse"
                    style="background-color: #eb3b60; color: white; border-radius: 8px; font-size: 16px;" type="button">
              Sign Out
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<hr style="opacity: 0.69;">-->
