<app-header></app-header>

<!--<div class="container-fluid name_area">
  <div class="row">

    <div class="col-md-6 ">
      <div class="row">
        <div class="col-md-8 text-left">
          <h5 class="display-4">Ankit Choudhary</h5><br>
          <p>Jalandhar, Punjab</p>
        </div>
        <div class="col-md-4 text-right" style="padding-left: 100px;">
          <img src="assets\images\products\profile_pic.jpg" alt="..." class="rounded-circle">
        </div>
      </div>
    </div>

    <div class="col-md-6 text-right">
      <button type="button" class="btn btn-outline-warning">Logout</button>
    </div>

  </div>
</div>-->

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 mt-5">

      <!--<div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-thumbnail" alt="avatar" style="border-radius: 50%;">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div>-->

      <div class="list-group" style="margin-top: 50px;">
        <li class="list-group-item list-group-item-action list_options" (click)="show(1)" style="cursor: pointer">
          Profile
        </li>
        <li class="list-group-item list-group-item-action list_options" (click)="show(2)" style="cursor: pointer">
          Orders
        </li>
        <!-- <a href="#" class="list-group-item list-group-item-action list_options">Address</a>
        <a href="#" class="list-group-item list-group-item-action list_options">Payments</a>
        <a href="#" class="list-group-item list-group-item-action list_options">Wishlist</a> -->
      </div>
    </div>

    <div class=" col-md-9">
      <!-- Orders div -->
      <app-orders *ngIf="ordersCheck"></app-orders>

      <!-- Profile div -->
      <app-profile *ngIf="profileCheck"></app-profile>
    </div>

  </div>
</div>

<app-footer></app-footer>
