<app-header></app-header>

<div class="container-fluid" style="background-color: #F2F3F7; padding-bottom: 20px;">
  <div class="container" style="padding-top: 30px; padding-bottom: 20px;">

    <div class="card header_card">
      <div class="card-body">

        <div class="row">

          <div class="col-md-6 pl-5 pt-2">

            <h5>Delivery Address</h5>

            <p class="name">{{ orderArr.customerUserName }}</p>
            <!--<p class="name">{{ objCustomer.name }}</p>-->

            <p class="address">{{ orderArr.address.addressLine1}}<br>
              {{ orderArr.address.addressLine2 }}</p>

            <span class="name">Phone No.</span><br>
            <!---<span class="address">{{ objOrder[0].address.phoneNo }}</span>-->
            <span class="address">{{orderArr.address.phoneNo}}</span>

          </div>

          <div class="col-md-6 text-right">
            <img class="header-gif" src="https://media.giphy.com/media/3oEjI4MMUuv9TZwXCM/giphy.gif" alt="gif">
          </div>

        </div>

      </div>
    </div>
  </div>


  <!--  Orders-->
  <div class="container" style="padding-top: 30px">
    <div class="card product_card" *ngFor="let tempOrder of orderArr.product">
      <div>
          <div class="row">

          <div class="col-md-2 text-center" >
            <img class="product-image" src="{{tempOrder.productImageUrl}}">
            <!--<img class="product-image" src="{{  }}>-->
          </div>

          <div class="col-md-3">

            <span class="product-name" style="font-weight: bold">{{ tempOrder.productName }}</span>

            <h5 style="padding-top: 30px; font-weight: bold">{{ tempOrder.productPrice | currency: 'INR' }}</h5>
          </div>

          <div class="col-md-7 text-center">

            <span class="badge badge-success status">{{ orderArr.orderStatus}} on {{ orderArr.orderDate }}</span>
          </div>

          </div>
        </div>

    </div>
  </div>

</div>

<app-footer></app-footer>
