<app-header></app-header>

<div class="bg-contact">
</div>
<div class="contact-form">
  <h1>Contact Us</h1>
  <h3>We are always ready to help you!</h3>
  <div class="txtb">
    <label>Full Name :</label>
    <input name="" placeholder="Enter Your Name" type="text" value="">
  </div>

  <div class="txtb">
    <label>Email :</label>
    <input name="" placeholder="Enter Your Email" type="email" value="">
  </div>

  <div class="txtb">
    <label>Phone Number :</label>
    <input name="" placeholder="Enter Your Phone Number" type="text" value="">
  </div>

  <div class="txtb">
    <label>Message :</label>
    <textarea></textarea>
  </div>
  <a class="btn">Send</a>
</div>

<div class="contact-info row">
  <div class="card col-md-3">
    <i class="card-icon far fa-envelope"></i>
    <p>email@ezeeshop.com</p>
  </div>

  <div class="card col-md-3">
    <i class="card-icon fas fa-phone"></i>
    <p>+91876445662</p>
  </div>

  <div class="card col-md-3">
    <i class="card-icon fas fa-map-marker-alt"></i>
    <p>Jalandhar, Punjab</p>
  </div>
</div>

<app-footer></app-footer>
