<app-header></app-header>
<div class="bg-contact">
</div>
<div class="contact-form">
  <h1>Contact Us</h1>
  <h3>We are always ready to help you!</h3>
  <div class="txtb">
    <label>Full Name :</label>
    <input type="text" name="" value="" placeholder="Enter Your Name">
  </div>

  <div class="txtb">
    <label>Email :</label>
    <input type="email" name="" value="" placeholder="Enter Your Email">
  </div>

  <div class="txtb">
    <label>Phone Number :</label>
    <input type="text" name="" value="" placeholder="Enter Your Phone Number">
  </div>

  <div class="txtb">
    <label>Message :</label>
    <textarea></textarea>
  </div>
  <a class="btn">Send</a>
</div>
<div class="contact-info">
  <div class="card">

    <i class="card-icon far fa-envelope"></i>
    <p>email@ezzeshop.com</p>
  </div>

  <div class="card">
    <i class="card-icon fas fa-phone"></i>
    <p>+0876445662</p>
  </div>

  <div class="card">
    <i class="card-icon fas fa-map-marker-alt"></i>
    <p>Jalandhar, Punjab</p>
  </div>
</div>
<app-footer></app-footer>
