/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#textlink {
  color: rgb(14,14,14);
  font-size: 35px;
  margin-left: 84px;
}

#textlink:hover {
  font-size: 40px;
  text-decoration: none;
}

#socialIcons i {
  margin-left: -2px;
}
